.cell1{
  background-color: #961A1D;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
.cell2{
  background-color: #c0383a;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}